.header {
    padding-bottom: 12px;
}

h3 {
    margin-bottom: 8px;
}

.filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

app-input-search {
    flex-grow: 1;
    margin-right: 10px;
}