<header class="app-header">
  <h1>Rick Morty App</h1>
  
  <div>
    <div class="btn-group" dropdown>
      <span dropdownToggle class="btn-dropdown-menu">
        <mat-icon>language</mat-icon>
      </span>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="javascript:void()" (click)="switchLanguage('pt')">{{ 'configuracoes.portugues' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="javascript:void()" (click)="switchLanguage('en')">{{ 'configuracoes.ingles' | translate }}</a></li>
      </ul>
    </div>
  </div>
</header>