<header class="app-header">
  <h1>
    Rick and Morty
  </h1>
  
  <div>
    <small *ngIf="userAuthenticated">{{ 'geral.bemVindo' | translate }} {{ userAuthenticated.nome }}</small>
    <div class="btn-group ml-8" dropdown>
      <span dropdownToggle class="btn-dropdown-menu"> 
        <mat-icon>language</mat-icon>
      </span>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="javascript:void()" (click)="switchLanguage('pt')">{{ 'configuracoes.portugues' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="javascript:void()" (click)="switchLanguage('en')">{{ 'configuracoes.ingles' | translate }}</a></li>
      </ul>
    </div>

    <div class="btn-group ml-8" id="btn-abrir-modal-logout" *ngIf="userAuthenticated" (click)="openModalLogout(template)">
      <span class="btn-dropdown-menu">
        <mat-icon>logout</mat-icon>
      </span>
    </div>
  </div>
</header>

<ng-template #template>
  <div class="modal-body text-center">
    <p class="p-8">{{ 'login.desejaRealmenteSair' | translate }}</p>
    <button type="button" class="btn btn-outline-default" (click)="confirm()" >{{ 'geral.sim' | translate }}</button>
    <button type="button" class="btn btn-outline-primary" (click)="decline()" >{{ 'geral.nao' | translate }}</button>
  </div>
</ng-template>