.conteudo {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 16px;
}

.img-dados {
    height: 240px;
    margin-right: 16px;
}

.dados {
    padding: 16px;
}

.grupo-dados {
    padding-bottom: 16px;
}

.grupo-dados:last-child {
    padding-bottom: 0;
}

.table-resposive {
    max-height: calc(100vh - 500px);
    min-height: 80px;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}