<div class="login-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <form [formGroup]="formGroup">
        <div class="form-group mb-3">
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="{{ 'geral.email' | translate }}">
        </div>

        <div class="form-group mb-3">
          <input type="password" class="form-control" formControlName="senha" id="password" placeholder="{{ 'geral.senha' | translate }}">
        </div>

        <div class="d-grid">
          <button type="button" class="btn btn-outline-primary" (click)="login()">{{ 'login.login' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>