<div class="login-container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-12 text-center">
      <form [formGroup]="formGroup" class="d-flex flex-column justify-content-center align-items-center max-width-400">

        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><mat-icon>mail</mat-icon></div>
          </div>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="{{ 'geral.email' | translate }}" (keyup.enter)="login()">
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><mat-icon>lock</mat-icon></div>
          </div>
          <input type="password" class="form-control" formControlName="senha" id="password" placeholder="{{ 'geral.senha' | translate }}" (keyup.enter)="login()">
        </div>

        <button type="button" class="btn btn-outline-primary btn-block" (click)="login()">{{ 'login.login' | translate }}</button>
      </form>
    </div>
  </div>
</div>