.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px - 32px);
}

.img-login {
    width: 420px;
    margin-bottom: 20px;
    border-radius: 4px;
}

form {
    width: 420px;
    position: relative;
    left: 50%;
    margin-left: -210px;
}