.conteudo {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 16px;
}

.img-dados {
    height: 260px;
    margin-right: 16px;
}

.dados {
    padding-top: 16px;
}

.grupo-dados {
    padding-bottom: 16px;
}

.lista-episodios tr:last-child td {
    border: none;
}

.table-resposive {
    max-height: calc(100vh - 500px);
    min-height: 80px;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}


@media (max-width: 767px) {
    .img-dados {
        margin-right: 0;
        height: auto;
        width: 100%;
    }

    .dados {
        padding-left: 16px;
        padding-right: 16px;
    }
}