<div class="header">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h3>{{ dados?.name ?? ('character.character' | translate) }}</h3>
      <button type="button" class="btn btn-outline-primary btn-filtro" (click)="fechar()">
        {{ 'geral.voltar' | translate }}
      </button>
    </div>
  </div>
</div>
  
<div *ngIf="loading" class="text-center pt-2">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading" class="conteudo">
  <div class="d-flex justify-content-start flex-column flex-md-row">
    <img class="img-dados" [src]="dados?.image" />
    
    <div class="dados">
      <div class="row">
        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.status' | translate }}: </span>
          <strong>{{ obterLabelStatus(dados?.status ?? null) | translate }} </strong>
        </div>

        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.genero' | translate }}: </span>
          <strong>{{ obterLabelGenero(dados?.gender ?? null) | translate }} </strong>
        </div>

        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.especie' | translate }}: </span>
          <strong>{{ obterLabeleEspecie(dados?.species ?? null) | translate }} </strong>
        </div>

        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.episodios' | translate }}: </span>
          <strong>{{ dados?.episode?.length }} </strong>
        </div>

        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.origem' | translate }}: </span>
          <strong>{{ dados?.origin?.name }} </strong>
        </div>

        <div class="col-md-12 grupo-dados">
          <span>{{ 'character.dados.localizacao' | translate }}: </span>
          <strong><a href="javascript:;" (click)="abrirLocalizacao(dados?.location?.url)">{{ dados?.location?.name }}</a></strong>
        </div>
      </div>
    </div>

  </div>
</div>


<div *ngIf="!loading" class="card mt-3 lista-episodios">
  <div class="card-body">
    <h5 class="card-title">{{ 'menu.episodios' | translate }}</h5>
    <div class="table-resposive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>{{ 'episode.dados.nome' | translate }}</th>
            <th>{{ 'episode.dados.episodio' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaEpisodios"  class="clickable" (click)="abrirDetalheEpisodio(item.id)">
            <td>{{ item.name }}</td>
            <td>{{ item.episode }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
