.conteudo {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 16px;
}

.img-dados {
    height: 240px;
    margin-right: 16px;
}

.dados {
    padding-top: 16px;
}

.grupo-dados {
    padding-bottom: 16px;
}